<% layout("layouts/boilerplate") %>

    <h2 class="mt-4">All Listings</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-body">
                        <p class="card-text mt-3 listing-card-text">
                            <b>
                                <%= listing.title %>
                            </b> <br>
                            &#x20B9; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>