body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: rgb(19, 19, 19);
}

.fa-map {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #e7e7e7 !important;
}

.nav-link:hover {
    color: #ff606b !important;
}

/* Footer */
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #020202;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links a {
    text-decoration: none;
    color: #b5b5b5;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

/* Cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    cursor: pointer;
    transition: 0.5s;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 300;
}

.listing-link {
    text-decoration: none;
}

/* Card Effects */
.card-img-top:hover {
    opacity: 0.4;
}

.card-text:hover {
    color: rgb(255, 255, 255);
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.add-btn:hover {
    background-color: #e7e7e7 !important;
    color: #ff313f !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn:hover {
    background-color: #e7e7e7 !important;
    color: #ff313f !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.delete-btn {
    border: none !important;
    background-color: #0c0c0c !important;
}

.delete-btn:hover {
    background-color: #000000 !important;
    color: #ff6666 !important;
}